<div class="col">
        <input type="text" placeholder="Full Name" [(ngModel)]="NewUser.Name">
        <input type="text" placeholder="Email" [(ngModel)]="NewUser.Email">
        <input type="text" placeholder="Home Address" [(ngModel)]="NewUser.Address">
        <input type="text" placeholder="Phone Number" [(ngModel)]="NewUser.Phone">
        <input type="text" placeholder="Company Name" [(ngModel)]="NewUser.Company">
        <button class="button button-default" (click)='AddUser()'>Add User</button>
</div>

